<p>{{mail-token '2' 'value'}} <!-- header --></p>

<span style="font-size:18px;">Dear {{CustomerAccost}},</span><br />
Your order # <strong>{{InvoiceNumber}}</strong> has been completed.<br/>
<br/>
 
 {{SupportText}}

You may track the status of your current order at your 
<a href="{{autologin CustomerId}}">account page</a>
